@import 'https://fonts.googleapis.com/css?family=Quicksand|Rock+Salt';

.navbar-default .navbar-brand{
    color: #39393A;
}
.navbar-default .navbar-brand: hover,
.navbar-default .navbar-brand: focus{
    color: #0E79B2;
}
.navbar-default .navbar-nav > li > a{
    color: #39393A;
}
.navbar-default{
    background-color: #FBFCFF;
}
.btn > a{
    text-decoration: none;
    color: #E6E6E6;
}
.page-header{
    margin-top: 90px;
    font-family: Quicksand;
}
.buttons{
  margin: 20px;
}
h1{
    font-size: 60px;
    color: #FBFCFF;
    text-shadow: 1px 1px 2px Black;
}
h2{
    color: #0E79B2;
    text-shadow: 1px 1px 0px Black;
}
h3{
    color: #E6E6E6;
    text-shadow: 1px 1px 0px Black;
}

h5{
    font-size: 50px;
    color: #39393A;
    padding-bottom: 0px;
}

.divider{
    border-bottom: 1px solid #39393A;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
}


body{
    font-family: 'Quicksand', sans-serif;
    background-image: url("http://i437.photobucket.com/albums/qq99/AnMsBucket/ComputerBG.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    overflow-x: hidden;
}
.navbar-text > a,
.navbar-text > p{
    margin-bottom: 0px;
    color: #E6E6E6;
}

.navbar-inverse{
    margin-bottom: 0px;
    background-color: #39393A;
}

.error{
    color: #0E79B2;
    text-shadow: 1px 1px 0px Black;
}
.control-label{
    color: #FBFCFF;
    text-shadow: 1px 1px 0px Black;
}


/*
colors
-------------------
black - #191923
dark grey - #39393A
blue - #0E79B2
platinum - #E6E6E6
white - #FBFCFF

*/